
<div class="tree-node" style="margin-top: 10px;">
    <div class="row">
        <div ng-if="node.parameters.length > 0">
            <div class="col-sm-2" ng-click="toggleLayerDetails($parent)" style="cursor: pointer;">
                <span class="btn btn-primary" ng-if="node.parameters.length > 0">
                    <span class="fa" ng-class="{'fa-angle-down': isEditorOpen, 'fa-angle-right': !isEditorOpen}"></span>
                </span>
            </div>

            <div class="col-sm-6" ng-click="toggleLayerDetails($parent)" style="cursor: pointer;">
                <h2>{{node.name}}</h2>
            </div>
        </div>
        <div ng-if="node.parameters.length === 0">
            <div class="col-sm-6 col-sm-offset-2">
                <h2>{{node.name}}</h2>
            </div>
        </div>

        <div class="col-sm-4">
            <div class="pull-right" ui-tree-handle style="padding:0px;" title="Drag" ng-if="!node.locked">
                <span class="btn btn-default">
                    <i class="fa fa-bars" style="font-size: 20px;"></i>
                </span>
            </div>
            <div class="pull-right" style="padding:0px;" title="Delete" ng-if="!node.locked">
                <span class="btn btn-danger" ng-click="removeLayer(node)">
                    <span class="fa fa-minus"></span>
                </span>
            </div>
            <div class="pull-right" ng-if="node.locked">
                <span class="btn btn-default" style="cursor:not-allowed;">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </span>
            </div>
        </div>
    </div>
</div>

<div ng-if="isEditorOpen" class="row tree-node-content">
    <div class="form-group" ng-repeat="param in node.parameters track by $index">
        <label class="col-sm-4 control-label">{{param.name}}</label>
        <div class="col-sm-8">
            <input class="form-control" type="text" ng-model="node[param.name]" ng-disabled="node.locked">
        </div>
    </div>
</div>

